<section class="page page-profil">

    <div class="row" style="margin: 80px auto 10px auto;">
        <div class="bloc-template  template-fluide template-infos-perso ">

            <div class=" panel panel-primary ">

                <div class="panel-heading ">
                    <h2 class="h2" aria-level="2">Informations personnelles</h2>
                    <button class=" styleless-button edit-block" >
                        <img  src="assets/images/edit.png" alt="éditer"/>
                    </button>
                </div>

                <div class="panel-body">

                </div>
            </div>
        </div>

    </div>

</section>
